/* Container for the Add Product Form */

.form-container {
    padding: 10rem 4rem;
    background: linear-gradient(to bottom right, #000000, #0d0d0d);
    height: auto;
    color: #fff;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.form-container h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 217, 255, 0.5);
}

.varient-box {
    display: flex;
    flex-direction: column;
}

.apf-container {
    display: flex;
    flex-direction: column;
    background: #111;
    /* Dark background */
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);

    margin: 0 auto 2rem auto;
    color: #ffffff;
}

/* Input fields */
.apf-input {
    margin-bottom: 20px;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    border: 1px solid #333;
    background: #222;
    color: #fff;
    font-size: 20px;
}

.apf-label {
    margin-bottom: 20px;
    padding: 0.75rem 1rem;
    color: #b8b8b8;
    font-size: 20px;
}

.apf-input:focus {
    border-color: #00d4ff;
    /* Highlight input */
    outline: none;
}

/* Buttons */
.apf-btn {
    padding: 0.85rem 1.8rem;
    border-radius: 6px;
    border: none;
    background: linear-gradient(90deg, #00d4ff, #1e90ff);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

    margin-bottom: 20px;
    font-size: 20px;
}

.apf-btn:hover {
    background: linear-gradient(90deg, #1e90ff, #00d4ff);
}

.cancel-btn {
    padding: 0.85rem 1.8rem;
    border-radius: 6px;
    border: none;
    background: linear-gradient(90deg, #ff0000, #940404);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

    margin-bottom: 20px;
    font-size: 20px;
}

.varient-btn {
    padding: 0.85rem 1.8rem;
    border-radius: 6px;
    border: 1px solid #09d7fc;
    background: transparent;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
    font-size: 20px;
}

.remove-btn {
    padding: 0.85rem 1.8rem;
    border-radius: 6px;
    border: 1px solid #ff0000;
    background: transparent;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
    font-size: 20px;
}


/* Calculate margin button */
.apf-calc-btn {
    background: #444;
}

.apf-calc-btn:hover {
    background: #666;
}