.home-container {
  width: 100%;
  height: 100vh;
  background-image: url('./slide1.jpg'); /* STATIC IMAGE */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

/* Dark overlay */
.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

/* Hero text */
.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;
  animation: fadeIn 1.2s ease;
}

.hero-content h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 2rem;
  opacity: 0.9;
}

/* Button */
.hero-btn {
  background:linear-gradient(90deg, #09d7fc, #109ac4);
  color: white;
  border: 1px solid #09d7fc;
  padding: 1rem 2.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.hero-btn:hover {
  transform: scale(1.05);
}

/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
